@import "tailwindcss";
body {
  font-family: 'Roboto', sans-serif;
  background-color: #F4F3F5;
}
/* @import "./styles/theme.css";

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
} */
